<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alumni">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chat"></activity>
        <activity android:name=".ChatScreen" />
        <activity android:name=".FriendsRequestSent" />
        <activity android:name=".FriendsRequest" />
        <activity android:name=".Friends" />
        <activity android:name=".userProfile" />
        <activity android:name=".AdminSupportList" />
        <activity android:name=".brand_store"/>
        <activity android:name=".UncheckedSupport" />
        <activity android:name=".CheckedSupport" />
        <activity android:name=".GuestLecture" />
        <activity android:name=".Accomodation" />
        <activity android:name=".DeleteAccount" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".Auth" />
        <activity android:name=".testing" />
        <activity android:name=".Profile" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".upload" />
        <activity android:name=".email" />
        <activity android:name=".uploadpic" />
        <activity android:name=".my_score_retrieve" />
        <activity android:name=".my_score" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JobPortal" />
        <activity android:name=".JobRetrieveActivity" />
        <activity android:name=".RadioRetrieve" />
        <activity android:name=".AdmissionRetrieveActivity" />
        <activity android:name=".AdmissionReferenceActivity" />
        <activity android:name=".RadioActivity" />
        <activity
            android:name=".support_fee_details"
            android:launchMode="singleTask" />
        <activity
            android:name=".Contacts"
            android:launchMode="singleTask" />
        <activity
            android:name=".AboutUs"
            android:launchMode="singleTask" />
        <activity android:name=".RetrieveNews" />
        <activity android:name=".admin_news" />
        <activity android:name=".SupportDetails" />
        <activity android:name=".about_alumni" />
        <activity android:name=".admin_support" />
        <activity android:name=".support" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".SignupProfile" />
        <activity android:name=".UserSignupRequest" />
        <activity
            android:name=".AdminDashboard"
            android:launchMode="singleTask" />
        <activity
            android:name=".ForgotPassword"
            android:launchMode="singleTask" />
        <activity android:name=".Register" />
        <activity
            android:name=".DashBoard"
            android:launchMode="singleTask" />
        <activity android:name=".Login" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>